*{

margin:0;
padding:0;
box-sizing:border-box;
font-family:Arial;

}


body{

background:#f1f5f9;

}



.layout{

display:flex;

}



aside{

width:250px;

height:100vh;

background:#0f172a;

color:white;

padding:30px;


}



aside a{

display:block;

color:white;

text-decoration:none;

padding:15px 0;

}



main{

padding:40px;

width:100%;

}




.cards{

display:grid;

grid-template-columns:repeat(3,1fr);

gap:25px;

margin:30px 0;

}



.card,
.panel,
.skill-box,
.profile,
.portfolio,
.upload,
.application{


background:white;

padding:30px;

border-radius:20px;

box-shadow:0 10px 25px #ddd;

}



.card h1{

color:#2563eb;

font-size:45px;

}





.recommend{

background:#eff6ff;

padding:25px;

border-radius:15px;

}




button{

background:#2563eb;

color:white;

border:none;

padding:12px 25px;

border-radius:10px;

}



.bar{

height:12px;

background:#ddd;

margin:15px 0;

}



.bar span{

display:block;

height:100%;

background:#2563eb;

}



.page{

padding:50px;

}



@media(max-width:800px){

.cards{

grid-template-columns:1fr;

}


aside{

display:none;

}

}
