*{

margin:0;
padding:0;
box-sizing:border-box;
font-family:Poppins,Arial;

}


body{

background:#f1f5f9;

}



.sidebar{

width:250px;

height:100vh;

background:#0f172a;

color:white;

padding:30px;

position:fixed;

}



.sidebar a{

display:block;

color:white;

text-decoration:none;

padding:15px 0;

}



.main{

margin-left:270px;

padding:40px;

}




.cards{

display:grid;

grid-template-columns:repeat(3,1fr);

gap:25px;

margin:30px 0;

}



.card,
.box,
.candidate-card,
.form-container{


background:white;

padding:30px;

border-radius:20px;

box-shadow:0 10px 30px #ddd;

}



.card h2{

color:#2563eb;

font-size:40px;

}



.candidate{

background:#eff6ff;

padding:20px;

margin-top:20px;

border-radius:15px;

}



button{

background:#2563eb;

color:white;

padding:12px 25px;

border:none;

border-radius:10px;

cursor:pointer;

}




.form-container{

width:600px;

margin:50px auto;

}



input,
textarea{


width:100%;

padding:15px;

margin:12px 0;

border:1px solid #ccc;

border-radius:10px;

}



textarea{

height:120px;

}




.score{

font-size:40px;

color:#16a34a;

font-weight:bold;

}


@media(max-width:800px){

.sidebar{

display:none;

}


.main{

margin:0;

}


.cards{

grid-template-columns:1fr;

}


}
