body{

background:#f8fafc;

font-family:Arial;

}


.dashboard,
.page{

padding:50px;

}



.stats{

display:flex;

gap:30px;

margin:40px 0;

}



.stats div,
.box{


background:white;

padding:30px;

border-radius:20px;

box-shadow:0 10px 25px #ddd;

}



.stats h1{

color:#2563eb;

}



.progress{

height:15px;

background:#ddd;

border-radius:20px;

}


.progress span{

display:block;

height:100%;

width:90%;

background:#10b981;

border-radius:20px;

}



button{

padding:12px 25px;

background:#2563eb;

color:white;

border:none;

border-radius:10px;

}
