*{

margin:0;
padding:0;
box-sizing:border-box;
font-family:Poppins,sans-serif;

}


body{

background:#f8fafc;
color:#0f172a;

}



header{

height:85px;
background:white;

display:flex;
align-items:center;
justify-content:space-around;

box-shadow:0 5px 20px #ddd;

}


.logo{

font-size:28px;
font-weight:700;

}


.logo span{

color:#2563eb;

}



nav{

display:flex;
gap:25px;

}


nav a{

text-decoration:none;
color:#334155;

}



button{

background:#2563eb;
color:white;

border:none;

padding:12px 25px;

border-radius:8px;

cursor:pointer;

}


.login{

background:white;
color:#2563eb;

border:1px solid #2563eb;

}





.hero{

min-height:650px;

display:flex;

justify-content:space-around;

align-items:center;

padding:50px 8%;


}




.hero-text{

width:50%;

}


.hero-text h4{

color:#2563eb;

}



.hero-text h1{

font-size:60px;

line-height:1.1;

margin:20px 0;

}



.hero-text p{

font-size:18px;

color:#64748b;

line-height:1.7;

margin-bottom:30px;

}





.ai-card{

background:white;

padding:35px;

width:350px;

border-radius:25px;

box-shadow:0 20px 40px #cbd5e1;

text-align:center;

}



.robot{

font-size:50px;

}


.ai-card h1{

font-size:60px;

color:#2563eb;

}



.progress{

height:10px;

background:#ddd;

border-radius:20px;

}


.progress div{

width:92%;

height:100%;

background:#10b981;

border-radius:20px;

}





.features{

padding:80px 8%;

text-align:center;

}



.feature-box{

display:grid;

grid-template-columns:repeat(4,1fr);

gap:25px;

margin-top:40px;

}



.feature-box div{

background:white;

padding:30px;

border-radius:20px;

box-shadow:0 10px 30px #ddd;

}




.analytics{

padding:80px 8%;

display:flex;

justify-content:space-around;

}



.bar{

height:10px;

background:#ddd;

width:400px;

margin-bottom:20px;

}


.bar span{

display:block;

height:100%;

background:#2563eb;

}




.stats{

display:flex;

gap:20px;

}


.stats div{

background:#0f172a;

color:white;

padding:30px;

border-radius:15px;

}





.chatbot{

position:fixed;

right:30px;

bottom:30px;

background:#2563eb;

color:white;

padding:20px;

border-radius:50%;

font-size:30px;

}




footer{

background:#0f172a;

color:white;

text-align:center;

padding:30px;

}





@media(max-width:900px){

.hero,
.analytics{

flex-direction:column;

}


.feature-box{

grid-template-columns:1fr;

}


nav{

display:none;

}

}
